{%extends "base.html"%}
{%block pagecontent%}
{% load static %}

<link href="{%static 'css/custom.css'%}" rel="stylesheet" type="text/css"/>


<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{%static 'images/banners/3.webp'%}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->

	
<div class="row">
	{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{product.get_url}}" class="img-wrap"> <img src="{{product.images.url}} "> </a>
			<figcaption class="info-wrap">
				<a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
				<div class="price mt-1">₦{{product.price}}</div> <!-- price-wrap.// -->
				<div class="rating-star">
					<span>
						{% if product.averageReview > 0 %}
                    <i class="fa fa-star{% if  product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if  product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if  product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if  product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if  product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-o {% endif %}" aria-hidden="true"></i>
                     {% else %}
            <!-- Display all outlined stars if there is no review -->
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        {% endif %}
					</span>
				</div>
			</figcaption>
		</div>
	</div> <!-- col.// -->
	
	{% endfor %}
	
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->
{%endblock%}



